<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
    <title>アカウント削除完了</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="container">
    <header>
        <h1 class="display-4">アカウント削除完了</h1>
    </header>
    <div role="main">
        <h6 class="mt-5 mb-5">アカウントの削除が完了しました。ご利用ありがとうございました。</h6>
    </div>
    <p class="mt-4">
        <a href="/">&lt;&lt; Top へ戻る</a> |
        <a href="/users/create">アカウントの作成&gt;&gt;</a>
    </p>
</body>
</html>